@model IEnumerable<AutoRep.Models.WorkType>

@{
    ViewData["Title"] = "Index";
}

<h1>Услуги</h1>

<p>
    <a asp-action="Create">Добавить услугу</a>
</p>
<table class="table table-dark" style="background-color: gray">
    <thead class="thead-dark">
        <tr>
            <th>
                <a class="d-table-cell" asp-route-sortOrder="@ViewBag.NameSort">Наименование</a>
            </th>
            <th>
                <p class="d-table-cell">Описание</p>
            </th>
            <th>
                <a class="d-table-cell" asp-route-sortOrder="@ViewBag.CostSort">Стоимость</a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (WorkType item in Model)
        {
            <tr>
                <td>
                    @item.Name
                </td>
                <td>
                    @item.Text
                </td>
                <td>
                    @item.Cost
                </td>
                <td class="text-center table-menu">
                    <a asp-action="Edit" asp-route-id="@item.Id">Изменить</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Подробнее</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
                </td>
            </tr>
        }
    </tbody>
</table>