@model AutoRep.Models.UserRequest

@{
    ViewData["Title"] = "Подробнее";
}

<h1>Details</h1>

<div>
    <h4>Request</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WorkType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WorkType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContactData)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContactData)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Изменить</a> |
    <a asp-action="Index">Назад</a>
</div>
