@model AutoRep.Models.Work

@{
    ViewData["Title"] = "Создать на основании";
}

<h1>Добавить</h1>

<h4>Работа</h4>
<hr />

<form asp-action="Create">
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Внимание!</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Некоторые детали которые вы использовали, имеются на складе в недостаточном количестве!
                    Пожалуйста, используйте другие детали.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                    <input type="submit" value="Я уверен в своём выборе!" name="submit" class="btn btn-primary" />
                </div>
            </div>
        </div>
    </div>
    <!-- Modal end -->


    <div class="row">
        <input type="hidden" asp-for="MadeOnId" value="@ViewBag.MadeOnId" />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group col">
            <label asp-for="Client" class="control-label"></label>
            <input asp-for="Client" class="form-control" value="@ViewBag.Name" />
            <span asp-validation-for="Client" class="text-danger"></span>
        </div>
        <div class="form-group col">
            <label asp-for="PhoneNumber" class="control-label"></label>
            <input asp-for="PhoneNumber" class="form-control" value="@ViewBag.Phone" />
            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
        </div>
        <div class="w-100"></div>
        <div class="form-group col">
            <label asp-for="Email" class="control-label"></label>
            <input asp-for="Email" class="form-control" value="@ViewBag.Email" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="form-group col">
            <label asp-for="CarNumber" class="control-label"></label>
            <input asp-for="CarNumber" class="form-control" />
            <span asp-validation-for="CarNumber" class="text-danger"></span>
        </div>
        <div class="w-100"></div>
        <div class="form-group col">
            <label asp-for="CarModel" class="control-label"></label>
            <input asp-for="CarModel" class="form-control" />
            <span asp-validation-for="CarModel" class="text-danger"></span>
        </div>
        <div class="form-group col">
            <label asp-for="Date" class="control-label"></label>
            <input asp-for="Date" class="form-control" />
            <span asp-validation-for="Date" class="text-danger"></span>
        </div>
        <div class="w-100"></div>
        <div class="form-group col">
            <label asp-for="Worker" class="control-label"></label>
            <div>@Html.DropDownListFor(x => x.Worker, new SelectList(ViewBag.UsersBag, "Id", "UserName"), new { @class = "form-control" })</div>
            <span asp-validation-for="Worker" class="text-danger"></span>
        </div>
        <div class="form-group col">
            <label asp-for="WorkType" class="control-label"></label>
            <div>@Html.ListBoxFor(x => x.WorkTypeIds, new MultiSelectList(ViewBag.WorkTypeBag, "Id", "Name", ViewBag.Work), new { @class = "form-control", id = "multipleSelectWorkType", multiple = "multiple" })</div>
            <span asp-validation-for="WorkTypeIds" class="text-danger"></span>
        </div>
        <div class="w-100"></div>
        <div class="form-group col">
            <label asp-for="MachineParts" class="control-label"></label>
            <div>@Html.ListBoxFor(x => x.MachinePartsIds, new SelectList(ViewBag.MachinePartsBag, "Id", "Name"), new { @class = "form-control", id = "multipleSelectParts", multiple = "multiple" })</div>
            <span asp-validation-for="MachinePartsIds" class="text-danger"></span>
        </div>
    </div>
    <div class="form-check form-group col">
        <input asp-for="IsCompleted" class="form-check-input" />
        <label asp-for="IsCompleted" class="form-check-label"></label>
        <span asp-validation-for="IsCompleted" class="text-danger"></span>
    </div>
    <div class="form-group col px-0">
        <input type="submit" value="Добавить" class="btn btn-primary" />
    </div>
</form>

<div>
    <a asp-action="Index">Назад</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $(function () {
            $("#multipleSelectWorkType").chosen(
                {
                    disable_search_threshold: 10,
                    no_results_text: "Не найдено: ",
                    placeholder_text_multiple: "Услуги"
                }
            );
        });
        $(function () {
            $("#multipleSelectParts").chosen(
                {
                    disable_search_threshold: 10,
                    no_results_text: "Не найдено: ",
                    placeholder_text_multiple: "Запчасти"
                }
            );
        });
    </script>
    @if (ViewBag.JavaScriptFunction != null)
    {
        <script type="text/javascript">
            $('#myModal').modal('show')
        </script>
    }
}