@model AutoRep.Models.Work

@{
    ViewData["Title"] = "Подробнее";
}

<h1>Подробнее</h1>

<div>
    <h4>Заказ</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Клиент
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Client)
        </dd>
        <dt class="col-sm-2">
            Телефонный номер
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt class="col-sm-2">
            Электронная почта
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            Номер машины
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CarNumber)
        </dd>
        <dt class="col-sm-2">
            Модель машины
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CarModel)
        </dd>
        <dt class="col-sm-2">
            Дата
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class="col-sm-2">
            Работник
        </dt>
        <dd class="col-sm-10">
            @ViewData["SelectedUser"]
        </dd>
        <dt class="col-sm-2">
            Оказываемая услуга
        </dt>
        <dd class="col-sm-10">
            @ViewData["SelectedWorkType"]
        </dd>
        <dt class="col-sm-2">
            Выбранные детали
        </dt>
        <dd class="col-sm-10">
            @ViewData["SelectedMachinePart"]
        </dd>
        <dt class="col-sm-2">
            Стоимость
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cost)
        </dd>
        <dt class="col-sm-2">
            Завершено
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsCompleted)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Изменить</a> |
    <a asp-action="Index">Назад</a>
</div>