@model AutoRep.Models.Work

@{
    ViewData["Title"] = "Details";
}

<h1>Подробнее</h1>

<div>
    <h4>Заказ</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Клиент
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Client)
        </dd>
        <dt class="col-sm-2">
            Дата
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class="col-sm-2">
            Работник
        </dt>
        <dd class="col-sm-10">
            @ViewData["SelectedUser"]
        </dd>
        <dt class="col-sm-2">
            Оказываемая услуга
        </dt>
        <dd class="col-sm-10">
            @ViewData["SelectedWorkType"]
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Изменить</a> |
    <a asp-action="Index">Назад</a>
</div>