@model X.PagedList.IPagedList<AutoRep.Models.Work>

@{
    ViewData["Title"] = "Index";
}
@using X.PagedList.Web.Common;
@using X.PagedList.Mvc.Core;
<h1>Заказы</h1>

<p>
    <a asp-action="Create">Добавить</a>
</p>

@using (Html.BeginForm())
{
    <div class="form-check form-check-inline">
        <input id="inlineCheckbox1" class="form-check-input" type="checkbox" name="showAll" value="true" @ViewBag.ShowAll>
        <label class="form-check-label" for="inlineCheckbox1">Отображать все заказы</label>
    </div>
    <div class="form-check form-check-inline">
        <input id="inlineCheckbox2" class="form-check-input" type="checkbox" name="showOutdated" value="true" @ViewBag.ShowOutdated>
        <label class="form-check-label" for="inlineCheckbox2">Отображать законченные заказы</label>
    </div>

    <div class="form-inline my-1 px-0">
        <input class="form-control flex-fill mr-1" type="search" name="SearchString" placeholder="Введите строку для поиска" value="@ViewBag.currentFilter"  />
        <input class="btn btn-info d-inline-flex" type="submit" value="Search"  asp-route-showAll="false" asp-route-ShowOutdated="false"/>
    </div>
}

<table class="table table-dark">
    <thead class="thead-dark">
        <tr>
            <th>
                <a class="d-table-cell" asp-route-sortOrder="@ViewBag.ClientSort" asp-route-page="@Model.PageNumber" asp-route-currentFilter="@ViewBag.CurrentFilter" asp-route-showAll="@(ViewBag.ShowAll  == "checked"? true: false)" asp-route-ShowOutdated="@(ViewBag.ShowOutdated  == "checked"? true: false )">Клиент</a>
            </th>
            <th>
                <a class="d-table-cell" asp-route-sortOrder="@ViewBag.DateSort" asp-route-page="@Model.PageNumber" asp-route-currentFilter="@ViewBag.CurrentFilter" asp-route-showAll="@(ViewBag.ShowAll  == "checked"? true: false)" asp-route-ShowOutdated="@(ViewBag.ShowOutdated  == "checked"? true: false )">Дата</a>
            </th>
            <th>
                <a class="d-table-cell">Завершён?</a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (Work item in Model)
        {
        <tr>
            <td>
                @item.Client
            </td>
            <td>
                @item.Date
            </td>
            <td>
                @(item.IsCompleted == true? "Завершён": "Не завершён")
            </td>
            <td class="table-menu text-center">
                <a asp-action="Edit" asp-route-id="@item.Id">Изменить</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Подробнее</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
            </td>
        </tr>
        }
    </tbody>
</table>
@Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter, showAll = @ViewBag.ShowAll == "checked"? true: false, showOutdated = ViewBag.ShowOutdated == "checked" ? true : false  }), new PagedListRenderOptions
{
    DisplayLinkToIndividualPages = true,
    DisplayPageCountAndCurrentLocation = false,
    LiElementClasses = new string[] { "page-item" },
    PageClasses = new string[] { "page-link" },
})