@model X.PagedList.IPagedList<AutoRep.Models.MachineParts>

@{
    ViewData["Title"] = "Index";
}
@using X.PagedList.Web.Common;
@using X.PagedList.Mvc.Core;

<h1>Index</h1>

<p>
    <a asp-action="Create">Создать</a>
</p>
<table class="table table-light">
    <thead class="thead-light">
        <tr>
            <th>
                <a class="d-table-cell" asp-route-sortOrder="@ViewBag.NameSort" asp-route-page="@Model.PageNumber">Наименование</a>
            </th>
            <th>
                <a class="d-table-cell" asp-route-sortOrder="@ViewBag.CountSort" asp-route-page="@Model.PageNumber">Количество</a>
            </th>
            <th>
                <a class="d-table-cell" asp-route-sortOrder="@ViewBag.CostSort" asp-route-page="@Model.PageNumber">Стоимость</a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Count)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cost)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Изменить</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Подробнее</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
                </td>
            </tr>
        }
    </tbody>
</table>
@Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort }), new PagedListRenderOptions
{
    DisplayLinkToIndividualPages = true,
    DisplayPageCountAndCurrentLocation = false,
    LiElementClasses = new string[] { "page-item" },
    PageClasses = new string[] { "page-link" },
})