@model AutoRep.Models.SUser

@{
    ViewData["Title"] = "Details";
}

<h1>Подробнее</h1>

<div>
    <h4>Пользователь</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Id
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-2">
            Имя
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt class="col-sm-2">
            Мененджер
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsMananger)
        </dd>
        <dt class="col-sm-2">
            Телефонный номер
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt class="col-sm-2">
            Почтовый адрес
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            <p>Роль</p>
        </dt>
        <dd class="col-sm-10">
            @ViewBag.RoleBag
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Изменить</a> |
    <a asp-action="Index">Назад</a>
</div>